<div class="container">
    <header>
        <h2 id="page-title">{{title}}</h2>
    </header>
    <article style="margin-top: 1rem;">
        <div class="parent">
            <div id="map" class="div1"> </div>
            {{#if UpcomingTrip}}
            {{#each trips as |trip| }}
            {{log this}}
            <div class="col-md-4">
                <p>
                    {{trips.id}}.
                    {{trips_name}}
                </p>
            </div>
            <div class="div2">
                <h5>Trip Details</h5>
                <p>Starting From: {{trip.id}} </p>
                <p>Going To: </p>
                <p>Travel Time: </p>
            </div>
            {{/each}}

            {{!-- <div class="div2">
                <h5>Trip Details</h5>
                <p>Starting From: </p>
                <p>Going To: </p>
                <p>Travel Time: </p>
            </div> --}}
            {{else if SharedTrip}}
            <div class="div2">
                <h5>Trip Details</h5>
                <p>Points of Interest: </p>
                <button class="location secondary">Seattle, WA</button>
                <button class="location secondary">Astoria, OR</button>
                <button class="location secondary">Portland, OR</button>
            </div>
            {{else}}
            <div class="div2">
                <h5>Trip Details</h5>
                <p>Starting From: </p>
                <p>Going To: </p>
                <p>Travel Time: </p>
            </div>
            {{/if}}
        </div>
    </article>
</div>