{{!-- <div class="container">
    <header>
        <h2 id="page-title">{{title}}</h2>
    </header>
    <article style="margin-top: 1rem;">
        <div class="parent">
            <div id="map" class="div1"> </div>
            
            {{!-- <div class="div2">
                <h5>Trip Details</h5>
                <p>Starting From: {{trip.id}} </p>
                <p>Going To: </p>
                <p>Travel Time: </p>
            </div> --}}
            
            
            {{!-- <div class="div2">
                <h5>Trip Details</h5>
                <p>Starting From: </p>
                <p>Going To: </p>
                <p>Travel Time: </p>
            </div>
        </div>
    </article>
</div> --}}

<div class="container">
    <header>
        <h2 class="page-title">{{title}}</h2>
        <p class="page-title">Click on a trip to view destinations</p>
    </header>
    <article style="margin-top: 1rem;">
        <div class="wrapper">
            <!-- For each trip in the array of trip objects, the following <a> will be rendered. -->
            {{#each trips as |trip|}}
            <a href="/sharedTrips/{{trip.id}}" role="button" class="secondary">{{trip.user.name}}'s Trip:
                {{trip.trip_name}}</a>
            {{/each}}
        </div>
    </article>
</div>